header {
    width: 100%;
    height: 100px;
    background-color: darksalmon;
}

header > div {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    margin: 0 auto;
}

main {
    width: 100%;
    height: calc(100vh- 100px);
    background-color: lightgreen;
}

main > div {
    max-width: 1000px;
    background-color: darkseagreen;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}