body {
    background-color: rgb(82, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200vh;
}

.outer {
    height: 80%;
    width: 80%;
    background-color: rgb(75, 13, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}

.inner {
    height: 80%;
    width: 80%;
    background-color: rgb(41, 30, 15);
}

.circle {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border-radius: 50%;
    position: fixed;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 50px;
}